* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.wrap {
  margin: 20px auto;
  border: 1px solid #888;
  width: 500px;
  overflow: hidden;
}

.header {
  margin: 20px auto;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  text-rendering: optimizeLegibility;
}